# backend
backend/backend-catalogo/venv/
backend/backend-catalogo/.venv/
backend/backend-catalogo/__pycache__/
backend/backend-catalogo/*.db

# frontend
frontend/frontend-catalogo/node_modules/
frontend/frontend-catalogo/dist/

# env
.env
.env.*

# vscode
.vscode/

# cache
.cache/

node_modules/